body, h1, p {
  color: white;
}

body, p {
  font-family: 'Lato';
  font-weight: 400;
}

body {
  transition: 0.5s
}

div, p, canvas, i, em {
  transition: 1s
}

h1 {
  font-family: 'Patua One';
  font-size: 80px;
  text-shadow: 0px 7px rgba(0, 0, 0, 0.5);
}

.center-text {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.white-bg {
  background-color: white;
}

.white, .white h1, .white p {
  color: black;
  text-shadow: none;
}

.gray-bg {
  background-color: gray;
}

.red-bg {
  background-color: rgb(255, 68, 68);
}

.orange-bg {
  background-color: rgb(255, 187, 51);
}

.green-bg {
  background-color: rgb(153, 204, 0);
}

.purple-bg {
  background-color: rgb(170, 102, 204);
}

.blue-bg {
  background-color: rgb(51, 181, 229);
}

.step {
  width: 900px;
  padding: 40px;
  font-size: 48px;
}

.step:not(.active) {
  opacity: 0;
}
