#step-title {
  text-align: center;
}

#step-title h1.title {
  font-size: 110px;
}

#step-title p {
  font-size: 30px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.step.sim.foundation {
  background-color: white;
  width: 900px;
  height: 100px;
  padding: 50px;
  opacity: 1
}

.step.sim.active {
  color: black;
}

#step-sim-4 canvas {
  border-bottom: solid 20px black
}

#step-sim-7 {
  width: 800px;
  height: 600px;
  padding: 0
}

#step-good-news-proof-3 div i {
  display: block;
  position: relative
}

#step-good-news-proof-3 .a {
  left: 220px; bottom: 130px;
}

#step-good-news-proof-3 .b {
  left: 460px; bottom: 130px;
}

#step-good-news-proof-3 .c {
  left: 300px; bottom: 500px;
}

#step-good-news-proof-3 .d {
  left: 370px; bottom: 340px;
}

body.impress-on-step-simple-triangulation-better,
#step-simple-triangulation:not(.active) {
  transition-delay: 500ms
}
